/* #main {
	display: inline-block;
	padding-top: 0.5px;
	padding-bottom: 100px;
	width: 100%;
} */
#login-div {
	padding-bottom: 330px;
}

#client-div, #clientTable {
	padding-bottom: 100px;
}

#clientActionSideBar {
	height: 80%;
}

  /* #footer {
	display: inline-block;
	bottom: 0px;
	margin-top: 5 px;
	padding: 10 px;
}   */

